*{
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	margin: 0;
  	padding: 0;
    background-color: rgb(255, 255, 255);
}


form{
    padding:20px;
}
div.mainf{
    margin-top: 130px;
    margin-left: 80px;
    margin-bottom: 50px;
    width: 1100px;
    height: 80px;
    box-shadow: 0 0 15px #262626;
    border-radius: 6px;
}

.mainform select{
    width: 350px;
    height: 40px;
    font-size: 20px;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 4px;
}
.mainform select option{
    padding: 50px;
}


.form-control{
    margin-left: 0px;
}
.distr{
    margin-left: 25px;
}
.bmainf{
    margin-left: 25px;
    width: 310px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    border: none;
}

  
div.popup2 img{
	margin-top: -50px;
	width: 100px;
	height: 100px;
}
button.bpop2{
	width: 80px;
	height: 40px;
	background-color: green;
	border-radius: 5px;
	color: white;
	margin-left: 0px;
	border: none;
}
button.bpop2:hover{
	background-color: rgb(1, 98, 1);
}
.megabox{
    display: flex;
    margin-top: 100px;
    margin-bottom: 400px;
}
main{
    width: 400px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 780px;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 400px;
    height: 400px;
    border-radius: 8px;
    position: absolute;
    transition: 1s;
}
button.prev{
    margin-top: 0px;
    margin-left: 930px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
button.next{
    margin-top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
button.prev:hover{
    box-shadow: 0 0 15px black;
}
button.next:hover{
    box-shadow: 0 0 15px black;
}
div.desc{
    margin-left: 35px;
    margin-top: 50px;
    position: absolute;
    max-width: 750px;
    margin-bottom: 250px;
}
.text1{
    font-size: 80px;
}
.text2{
    font-size: 22px;
    color: #262626;
    line-height: 35px;
   
}
.text3{
    font-size: 20px;
    color: #5c5c5c;
}
button.badopt{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
    margin-bottom: 50px;
    cursor: pointer;
}
button.badopt:hover{
    background-color: #161616;
    box-shadow: 0 0 15px black;
}